DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
GUILD_ID=YOUR_GUILD_ID
DB_PATH=./welcome-db.json
CONFIG_PATH=./bot.config.json
WELCOME_CHANNEL_ID=
REVIEW_CHANNEL_ID=
TIERLIST_CHANNEL_ID=
LOG_CHANNEL_ID=
MODERATOR_ROLE_ID=
ACCESS_ROLE_ID=
TIER_ROLE_1_ID=
TIER_ROLE_2_ID=
TIER_ROLE_3_ID=
TIER_ROLE_4_ID=
TIER_ROLE_5_ID=
WELCOME_TITLE=Jujutsu Shinigans Onboarding
WELCOME_DESCRIPTION=
GET_ROLE_BUTTON_LABEL=Получить роль
TIERLIST_BUTTON_LABEL=Текстовый тир-лист
TIERLIST_TITLE=Текстовый тир-лист
KILL_TIER_LABEL_1=Низший ранг
KILL_TIER_LABEL_2=Средний ранг
KILL_TIER_LABEL_3=Высший ранг
KILL_TIER_LABEL_4=Особый ранг
KILL_TIER_LABEL_5=Абсолютный ранг
CHARACTER_CONFIG_JSON=
